<html> 
         <head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'></script>
</head>

<body>
        <h1> Meet Moody, the AI powered digital Journal</h1> 
        <h2><a href='/new'>Add new entry</a></h2>
        <h2><a href='/plot/week'>WeekPlot</a></h2>
        <h2><a href='/plot/month'>MonthPlot</a></h2>
        <h2><a href='/plot/all'>Entire History</a></h2>

        <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
        <p id='entry'></p>
        <script>
            let data = <%- JSON.stringify(data) %>
            let id = data.id
            let x= <%-JSON.stringify(data.x)%>
            let y= <%-JSON.stringify(data.y)%>
            let z= <%-JSON.stringify(data.z)%>
            let text = <%-JSON.stringify(data.text)%>

        </script>

<% for (let i=0;i<data.x.length;i++) { %>
    <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= new Date(data.x[i]) %></h5>
              <p class="card-text"><%= data.text[i] %></p>
              <a href="/entry/<%= data.id[i]%>" class="btn btn-primary">View Entry</a>
            </div>
          </div>
<% }; %>

  <script type= 'text/javascript' src='all.js'></script>

</body>
    
</html>
