<html> 
         <head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/css/index.css'>
</head>

<body>
  <div class='wrapper'>
        <div id='nav-wrapper' class='container-fluid mb-3'>
          <div class='row'>
            <div class = 'col-lg-3'>
                <a href='/new'><button>Add new entry</button></a>
            </div>
            <div class = 'col-lg-3'>
                <a href='/plot/week'><button>WeekPlot</button></a>
            </div>
            <div class = 'col-lg-3'>
                <a href='/plot/month'><button>MonthPlot</button></a>
            </div>
            <div class = 'col-lg-3'>
                <a href='/plot/all'><button>Entire History</button></a>
            </div>
          </div>
        </div>

        <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
        <script>
            let data = <%- JSON.stringify(data) %>
            let id = data.id
            let x= <%-JSON.stringify(data.x)%>
            let y= <%-JSON.stringify(data.y)%>
            let z= <%-JSON.stringify(data.z)%>
            let text = <%-JSON.stringify(data.text)%>
            let dates = <%- JSON.stringify(dates)%>
            console.log(dates)


        </script>

<% for (let i=0;i<data.x.length;i++) { %>
    <div class='container-fluid m-3'></div>
    <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= dates[i] %></h5>
              <p class="card-text"><%= data.text[i] %></p>
              <a href="/entry/<%= data.id[i]%>" class='btn'>View Entry</a>
              <form action="/edit/<%=data._id%>?_method=DELETE" method='POST'>
                <button>Delete</button>
            </form>
            </div>
    </div>
<% }; %>
<div class='wrapper'>

  <script type= 'text/javascript' src='all.js'></script>

</body>
    
</html>
