<html> 
         <head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class='wrapper'>
        <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title" id='entryTitle'></h5>
              <p class="card-text" id='entry'></p>
            </div>
          </div>
    </div>
        <script>
          let title = <%- JSON.stringify(title) %>
   let x= <%-JSON.stringify(data.x)%>
    let y= <%-JSON.stringify(data.y)%>
    let z= <%-JSON.stringify(data.z)%>
let text = <%-JSON.stringify(data.text)%>;

        </script>
  <script type= 'text/javascript' src='/js/plot.js'></script>

</body>
    
</html>
